body {
  background-color:#fffcb9;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
}

h1 {
  color: #0d2471;
  text-decoration: underline;
}

h2 {
  color: #0648d7;
  text-decoration: underline;
}

li {
  margin: auto;
  width: 5%;
  padding: 1em;
}

.color1 {color: #0d2471;}
.color2 {color: #0648d7;}
.color3 {color: #07e4ff;}
.color4 {color: #0fffc7;}
.color5 {color: #fffcb9;}